<h1>Article Show</h1>
<%= @article.inspect %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %> |
<%= link_to 'Return to articles listing', articles_path %>